<div class="med">

  <div class="texto">
    <h1>Consideraciones antes de decidir adoptar un Gato:</h1>
    <p>Decidir adoptar una mascota, sea cual sea, siempre es un compromiso a largo plazo. Si bien muchas personas creen
      que es más fácil tener un gato en lugar de un perro, los gatos de todos modos requieren mucha atención y
      apoyo.<br> Cualquier animal cambiará tu estilo de vida, con suerte, de manera unilateralmente positiva. Sin
      embargo, puede que no puedas cambiar algunas cosas de tu rutina y vale la pena considerar cómo funcionarán o cómo
      se adaptarán con la llegada de un gato o gatito.</p>
    <div class="preguntas">
      <p>Algunas preguntas para considerar seriamente pueden ser:</p>
      <ul>
        <li>¿Tienes hijos? ¿Puedes enseñarles a como cuidar correctamente a una mascota?</li>
        <li>¿Tienes otras mascotas? ¿Sabes como podrían reaccionar a otro integrante de la familia?</li>
        <li>¿El gato vivirá en el interior o planeas dejarlo salir a al patio o a la calle?</li>
        <li>¿Puedes adaptar tu hogar para que no sea peligroso para tu gato?</li>
        <li>¿Tienes trabajo de tiempo completo? ¿Alguien más puede ayudar a cuidar a tu gato? ¿Puedes mantener las
          necesidades de tu gato?</li>
      </ul>
    </div>
  </div>


  <div class="box">
    <div id="tarjeta" class="card mb-3 mt-3">
      <img class="card-img-top" src="assets/gatoWawa.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">¿Tienes hijos? ¿Puedes enseñarles a cómo cuidar correctamente a una mascota?</h5>
        <p class="card-text">Integrar una mascota a la familia puede ser desafiante en varios niveles, y uno de ellos
          depende de si hay niños en el hogar. Dependiendo de su edad, puede que los niños pequeños tengan conductas que
          puedan inducir estrés o incluso daño al gato sin saberlo o sin quererlo. Es por esto muy importante tener en
          cuenta con quién convivirá el gatito en su día a día y preparar a todos los involucrados adecuadamente.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
    <div id="tarjeta" class="card">
      <img class="card-img-top" src="assets/gatoPerros.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">¿Tienes otras mascotas? ¿Sabes cómo podrían reaccionar a otro integrante de la familia?
        </h5>
        <p class="card-text">Introducir una nueva mascota a una familia que ya tiene una mascota de antes puede ser muy
          complicado en ocasiones y requiere paciencia y a veces bastante tiempo. Es importante considerar si la familia
          puede utilizar todos los recursos necesarios para que el proceso sea fructífero.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
    <div id="tarjeta" class="card">
      <img class="card-img-top" src="assets/gatoindoor.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">¿El gato vivirá en el interior o planeas dejarlo salir a al patio o a la calle?</h5>
        <p class="card-text">Las preocupaciones de salud de un gato que vive completamente en interiores a uno que sale
          al mundo exterior son completamente distintas, y por supuesto tienen un costo involucrado. Esto no significa
          que un gato indoor no requiere de sus vacunas y chequeos veterinarios, sino que es mucho menos propenso a
          tener afecciones de salud virales o heridas por peleas/accidentes que uno que sí sale al mundo exterior. Hay
          muchos factores a considerar al respecto.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
    <div id="tarjeta" class="card">
      <img class="card-img-top" src="assets/gatoCables.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> ¿Puedes adaptar tu hogar para que no sea peligroso para tu gato?</h5>
        <p class="card-text">Los gatos suelen trepar muebles, jugar con cables o cuerdas, morder plantas, e incluso
          lanzarse desde ventanas. Es de vital importancia considerar si es posible adaptar nuestro hogar para aislar
          todas las zonas que puedan representar un potencial peligro a la vida del gato. Por ejemplo, mediante la
          instalación de mosquiteros en ventanas altas, cobertura de lugares eléctricos, etc. </p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
    <div id="tarjeta" class="card">
      <img class="card-img-top" src="assets/gatojugando.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">¿Tienes trabajo de tiempo completo? ¿Alguien más puede ayudar a cuidar a tu gato?
          ¿Puedes mantener las necesidades de tu gato?</h5>
        <p class="card-text">Es importante considerar si tu gato va a pasar mucho tiempo solo. Quién se encargará de su
          alimento, de su agua, y sus necesidades. Por otra parte, igual de relevante es saber si es posible para ti
          mantener económicamente a tu mascota. Su calendario de vacunación, desparasitación, alimentación, entre otras
          cosas, son de vital importancia y no se deben dar por sentado, ya que todos estos elementos impactan
          directamente en la calidad de vida a corto y largo plazo del gato.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>


</div>