.med{
    margin-top: 6%;
    margin-bottom: 6%;
}

.texto{
    margin: 20px;
}

.preguntas p{
    font-weight: bold;
}

.box{
    min-width: 480px;
    max-width: 60%;
    margin: 0px auto;
    width: 50%;
}

#tarjeta{
    margin: 30px;

}

img{
    height: 30rem;
}