<div class="cuidados">

    <div class="text">
        <h1>Cuidados básicos para un gatito</h1>
        <p>Una vez considerado todo lo anterior, es momento de preparar el terreno de forma adecuada para el encuentro de nuestro hogar con el nuevo miembro. Hay muchos artículos de vital importancia y adaptaciones al ambiente que deben tomarse en cuenta. Cuidar a un gato de la forma correcta desde incluso antes que llegue al hogar puede hacer una diferencia gigante en su calidad de vida. Aquí te indicamos cómo lograrlo:</p>

        <h3>Ambiente en el hogar</h3>
        <p>El ambiente en el hogar puede ser determinante en la conducta y los hábitos de nuestro minino, por lo que hay muchas cosas que se deben tener en cuenta al momento de darle su espacio. Algunas de estas incluyen:</p>

    </div>

    <div class="tarjetas">

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Alimentación</h5>
                  <p class="card-text">Es importante que tenga un espacio destinado para alimentarse, idealmente alejado tanto de su caja de arena como de zonas de la casa con mucho ruido o que puedan causarle incomodidad.</p>
                  <p class="card-text"><small class="text-muted"></small></p>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Limpieza</h5>
                  <p class="card-text"> Es de vital importancia para la salud del gatito que tenga al menos una caja de arena en un lugar tranquilo donde pueda hacer sus necesidades cómodamente. Existen muchos casos documentados de gatos que han dejado de hacer sus necesidades y hasta contraen enfermedades por no tener cajas de arena en lugares tranquilos. En caso de tener más de un gato, se recomienda que cada gato tenga su caja de arena más una extra en el hogar.</p>
                  <p class="card-text"><small class="text-muted"></small></p>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Ejercicios</h5>
                  <p class="card-text">Esta suele ser la zona del hogar en la que el gato pasa más tiempo activo. Idealmente, un gato debería disponer de lugares donde poder correr, trepar hacia altura y con distintos tipos de juguetes para cazar. Todo esto es necesario para mantener la salud de tu gato y que no sufra estrés. Los rascadores son altamente recomendados, ya que rascar es una conducta 100% natural en gatos, y de no encontrarlos es muy probable que esas marcas terminen en los muebles del hogar.</p>
                  <p class="card-text"><small class="text-muted"></small></p>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Descanso</h5>
                  <p class="card-text">Esta área suele variar en función del día y de donde se sienta cómodo, pero los gatos tienden a dormir tomando sol o en la comodidad del calor. Es importante que tenga más de un lugar viable para aquello. </p>
                  <p class="card-text"><small class="text-muted"></small></p>
                </div>
              </div>
            </div>
          </div>

    </div>

    <h3>Elementos importantes recomendados para tener un gato en casa:</h3>

    <div class="groupCard">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Canastas</h5>
                  <p class="card-text"> Las canastas pueden proporcionar un lugar seguro que el gato pueda utilizar como cama. Preferentemente, deben ser ubicadas en algún nivel de altura.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Platos de comida y agua</h5>
                  <p class="card-text">Cada gatito debiese tener un plato pequeño para su comida, que esté alejado de su fuente de consumo de agua y cualquier caja de arena, ya que de no ser así puede bloquear al gato a consumir o hacer cualquiera de sus necesidades. Al mismo tiempo, es necesario que el gatito tenga una fuente de agua o tazón con agua fresca lo más frecuente posible.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Caja de arena</h5>
                  <p class="card-text">Debe tener una profundidad lo suficiente para que el gato pueda enterrar sus necesidades, pero no tan profunda para que no la pueda usar.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Rascadores o Árbol para gatos</h5>
                  <p class="card-text">Los rascadores son fundamentales para que los gatos no se estresen, y gasten sus uñas, ya que rascar es una conducta completamente normal de ellos. También existen los llamados árboles para gatos, que combinan estas superficies para rascar con casas o plataformas en altura, lo que le otorga múltiples ventajas al gatito en un solo lugar de la casa.
                </p>
                </div>
              </div>
            </div>
          </div>

    </div>



</div>