<div class="back">
  <div class="prin">

    <!--carrusel-->
  
    <ngb-carousel>
      <ng-template *ngFor="let pelicula of peliculas" ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="{{pelicula.img}}" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>{{pelicula.name}}</h3>
          <p>{{pelicula.desc}}</p>
        </div>
      </ng-template>
    </ngb-carousel>
  
  
    <!--Titulo assets/gato1.jpg-->
  
    <div class="titulo">
      <h1>Wild Wild Pussycats</h1>
    </div>
  
    <!--tarjetas-->
    <div class="tarjet">
  
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div id="tar" class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Patologias</h5>
              <p class="card-text"> Te enseñamos a como identificar las enfermedades más comunes.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div id="tar" class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Medidas</h5>
              <p class="card-text">Sabemos que el cuidado genera muchas dudas, es por eso que puedes revisar las más vistas</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div id="tar" class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Cuidados</h5>
              <p class="card-text">Debe tener una profundidad lo suficiente para que el gato pueda enterrar sus
                necesidades, pero no tan profunda para que no la pueda usar.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div id="tar" class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Contacto</h5>
              <p class="card-text">Si tienes más dudas, o necesitas una ayuda no dudes en contactarnos.</p>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
  </div>


</div>