<div class="back">

  <div class="pat">
    <h1>Enfermedades y patologias</h1>
    <div class="par">
      <p>Las enfermedades en gatos pueden a veces ser difíciles de detectar por su naturaleza. Los gatos tienden a ser
        animales bastante independientes y con una rutina fija, por lo que cualquier alteración de esta puede ser un signo
        de potencial enfermedad. Esto es especialmente peligroso para gatos que tienen contacto con otros animales o
        terreno en el exterior del hogar, ya que muchas de las afecciones que pueden traer problemas graves para los
        gatitos son de carácter viral. Para ayudar a detectarlas, dejamos un listado de las patologías más comunes, tanto
        las más graves como las más manejables:</p>
    </div>
  
    <!--tarjetas-->
    <div class="groupCard">
      <div class="row row-cols-1 row-cols-4 md-4 g-4">
        <div class="col">
          <div id="tar" class="card h-100">
            <img src="assets/gatoCistitis.jpeg" class="card-img-top h-100" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cistitis</h5>
              <p class="card-text">Conocida como la infección de orina. Es causada generalmente por inflamaciones en la vejiga o el tracto urinario. Esta enfermedad tiende a ser más propensa a aparecer a medida que el gato envejece. Síntomas pueden presentarse como dificultad para orinar u orinar fuera de la caja de arena, lamerse en la zona genital más de lo común, entre otros.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div id="tar" class="card h-100">
            <img src="assets/gatoConjuntivitis.jpg" class="card-img-top h-100" alt="...">
            <div class="card-body">
              <h5 class="card-title">Conjuntivitis felina</h5>
              <p class="card-text">Una enfermedad ocular que se caracteriza por la inflamación de la membrana conjuntiva, que produce enrojecimiento, lagrimeo constante y picor, entre otros síntomas. Se puede producir por factores ambientales, por ejemplo, la acumulación de polvo.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div id="tar" class="card h-100">
            <img src="assets/gatoRabia.jpg" class="card-img-top h-100" alt="...">
            <div class="card-body">
              <h5 class="card-title">Rabia</h5>
              <p class="card-text">Enfermedad que tiene a transmitirse por las mordeduras o la leche materna. Cabe destacar que esta enfermedad es mortal y puede transmitirse a humanos. El comportamiento agresivo, la salivación excesiva y maullidos distintos a los normales suelen indicar la infección. Es por esto que es de vital importancia la vacunación contra la rabia.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div id="tar" class="card h-100">
            <img src="assets/leucemia.jpg" class="card-img-top h-100" alt="...">
            <div class="card-body">
              <h5 class="card-title">Leucemia felina</h5>
              <p class="card-text">Una enfermedad viral que puede llegar a ser mortal, pero existe vacuna. Tiende a contagiarse mediante la saliva, orina y heces de otros gatos infectados, e incluso por la leche materna. Esta enfermedad ataca el sistema inmune del gato, y si bien es cierto que existe un porcentaje de gatos que con tratamiento logra vencer el virus en su etapa inicial, esta tiene a volverse crónica. La lista de síntomas es extensa, pero el recuperarse lento de otras afecciones, la anemia y pérdida repentina de peso suelen ser indicadores fuertes.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <p>Es cierto que existe un abanico de enfermedades que pueden tener consecuencias fatales para tu gato, pero también es cierto que muchas de estas enfermedades pueden ser evitadas con un cuidado responsable. Es de vital importancia mantener al gato con su calendario de vacunación y desparasitación al día y conocer bien sus hábitos diarios, para evaluar y de ser necesario llevar al veterinario en caso de cualquier cambio que pudiese indicar enfermedad.</p>
  
  
  </div>

</div>