<!--<pre>{{contactForm.value | json}}</pre>-->
<h1>Registro</h1>
<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div class="mb-4">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name" required #name="ngModel" placeholder="Nombre Apellido">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">This field is required.</div>
    </div>

    <div class="mb-4">
        <label for="peso" class="form-label">Edad</label>
        <input type="text" class="form-control" id="edad" name="edad" [(ngModel)]="model.edad" required #edad="ngModel">
        <div [hidden]="edad.valid || edad.pristine" class="alert alert-danger">This field is required.</div>
    </div>

    <div class="mb-4">
        <label for="direccion" class="form-label">Direccion</label>
        <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="model.direccion" required #direccion="ngModel">
        <div [hidden]="direccion.valid || direccion.pristine" class="alert alert-danger">This field is required.</div>
    </div>

    <div class="mb-4">
        <label for="name" class="form-label">Correo Electronico</label>
        <input type="text" class="form-control" id="correo" name="correo" [(ngModel)]="model.correo" required #correo="ngModel" placeholder="xxxx@xxx.xxx">
        <div [hidden]="correo.valid || correo.pristine" class="alert alert-danger">This field is required.</div>
    </div>

    <div class="mb-4">
        <label for="sexo" class="form-label">Sexo</label>
        <select name="sexo" id="sexo" class="form-select form-select-sm" [(ngModel)]="model.sexo" required #sexo="ngModel">
            <option selected>Prefiero no especificar</option>
            <option value="macho">Masculino</option>
            <option value="hembra">Femenino</option>
        </select>
        <div [hidden]="sexo.valid || sexo.pristine" class="alert alert-danger">This field is required.</div>
    </div>

    <div class="d-grid gap-3 col-4 float-left">
        <button type="submit" class="btn btn-info btn-lg" [disabled]="contactForm.invalid">Registrame</button>
    </div>

   
</form>
